.post-img {
  height: 200px;
  width: 300px;
  overflow: hidden;

}
.img {
  width: 300px;
  object-fit: cover;
}

.headings {
  font-size: 4rem;
}

 .paragraphs > p  {
  font-size: 1.4rem;
}

.content {
  max-width: 800px;
}