:root {
  --background-color: rgba(230,230, 230);
  --link-color: rgba(0,120, 250);
  --dark-link-color: rgb(2, 99, 202);
  --nav-background: rgb(22, 22, 22);
  --headings-font: 'Alice', serif;
  --text-font: 'Nunito', sans-serif;
}

body {
  overflow-x: hidden;
  margin: 0;
  color: white;
  font-family: var(--text-font);
 
}

a {
  color: var(--link-color);
  text-decoration: none;
}

p {
  color: var(--nav-background);
  font-size: 0.8em;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0.2em;
}

/******************/
/* Dashboard menu*/ 
/******************/
nav {
  background-color:var(--nav-background)
}

.dashboard--button {
  position: fixed;
  top: 1em;
  right: 1em;
}

.dashboard--navbar {
  width: 50%;
  height: 100vh;
  margin: 0px;
  padding: 1em 1em;
  position: absolute;
  left: -60%;
  top: 0;
  z-index: 1100;
  box-shadow: 0 1px 5px rgb(255, 252, 252), 3px 1px 5px rgba(0,0,0,0.1);
}

.dashboard--navbar__active {

}

.dashboard--navbar h3 {
  font-size: 0.9em;
  text-align: center;

}

.dashboard--navbar ul {
  list-style: none;

}

.dashboard--navbar li {
  margin: 2em 0 ;
}

.dashboard--navbar a {
  font-size: 0.9em;
  text-decoration: none;
  color: var(--link-color)

}

.dash--container{
  margin: 1em;

}


button {
  color:var(--background-color); 
  border: 1px solid var(--link-color);
  background-color: var(--dark-link-color);
  border-radius: 5px;
  padding: 10px;
  margin: 0.5em;
  box-shadow: 0 1px 5px rgb(255, 252, 252), 3px 1px 5px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}

button > a {
  color: white;
} 

button:hover {
  background-color:var(--link-color); 
  color: white;
  cursor: pointer;
}

.button-danger {
  background-color: red;
  border: none;
} 

/******************/
/*  Login area   */ 
/*****************/
.login--container {
  display:flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login--card {
  color: black;
  box-shadow: 0 1px 5px rgb(255, 252, 252), 3px 1px 5px rgba(0,0,0,0.1);
  padding: 2em;
  margin: 1em;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  height: 300px;
}
.login--card--header {
  font-family: var(--text-font);
  font-size: 1.2em;
} 

.login--card--body {
  flex-grow: 4;
  font-family: var(--text-font);
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}

.form-control {
  border: 1px solid var(--link-color);
  padding: 0.5em;
  border-radius: 5px;
  margin-bottom: 1em;
}

/******************/
/*  Card styles   */ 
/*****************/

.card--container {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  box-shadow: 0 1px 5px rgb(255, 252, 252), 3px 1px 5px rgba(0,0,0,0.1);
  padding: 1em;
  border-radius: 5px;
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 350px;
}


.card img{
  width: 100%;
  height: 200px;
  object-fit: cover;
} 

.card--button {
  display: flex;
  flex-direction: column;
  
}


@media screen and (min-width: 600px) {

/******************/
/*  Login area   */ 
/*****************/

  .login--card  {
    max-width: 400px;
  }

}

@media screen and (min-width: 900px) {

  .dashboard--container {
    display:grid;
    grid-template-columns: 20% 80%; 
  }

  nav {
    grid-column: 1/2;
    position: sticky;
    display: flex;
    box-shadow: 0 1px 5px rgb(255, 252, 252), 1px 2px 2px rgba(0,0,0, 0.5);
  }

  .dashboard--navbar {
    position: sticky; 
    width: 100%;
    padding: 0;
    
  }

  .dash--container {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    margin: 1em 4em;
    max-width: 1024px;
    
  }

  .dashboard--button { 
    display: none;
  }

  .card { 
    max-width: 300px;
  }



}

@media screen and (min-width: 1440px) {
  .dashboard--container {
    display:grid;
    grid-template-columns: 15% 85%; 
  }

  .dash--container {

    max-width: 1400px;
    
  }
  
  }