/*screen sizes
   =
    600px
    768px
    900px
    1024px
    1200px
*/

html {
  scroll-behavior: smooth;
}

body {
    background-color:rgba (249,249,249, 250);
    margin: 0;  
    margin-top: 0;
    background-image: url("/images/backround.svg");
  }

a {
  text-decoration: none;
  color:var(--headings-color); 
}


img {
  border-radius: 5px;
  width: 100%;
}

h1, h2, h3, h4, h5,h6 {
    color: var(--headings-color); 
    font-family: var(--headings-font);
    padding: 0;
    margin:0;
}

h2 {
  font-size: 2.5em;
}
 h4 {
  font-family: var(--text-font);
  font-size: 1.2em;
}

p {
  font-family: var(--text-font);
}

iframe {
  width: 100%;
}

.form-group {
  display:flex;
  flex-direction: column;
  margin: 20px 0;
  font-family: var(--text-font);
}

.form-control{
  border-radius: 5px;
  border: solid 1px var(--headings-color); 
  background-color: var(--background-color);
  padding: 10px;
  font-family: var(--text-font);
} 

button, .comment-toggler {
  color:var(--headings-color); 
  background-color: white;
  border: none; 
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 2em;
  width: 30%;
  box-shadow: 0 0px 5px rgba(0,0,0,0.1), 0 0px 5px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}

button:hover {
  transform: scale(1.001);
  box-shadow: 0 1px 28px rgba(0,0,0,0.1), 0 1px 10px rgba(0,0,0,0.1);
  cursor: pointer;
}

.button-publish {
  color: var(--headings-color);
  background-color: var(--background-color);
}

#discussion {
   display: none;
}

.comment {
  padding: 5px;
}

.meta-text {
  font-size: 0.8em;
  font-style: italic;
  margin: 1em 0;
}