html {
  scroll-behavior: smooth;
}

body {
    background-color:rgba (249,249,249, 250);
    margin: 15px;  
    margin-top: 0;
  }

a {
  text-decoration: none;
  color:var(--headings-color); 
}
a:hover {
  color: var(--headings-color); 
}

img {
  border-radius: 5px;
  width: 100%;
}

h1, h2, h3, h4, h5,h6 {
    color: var(--headings-color); 
    font-family: var(--headings-font);
    padding: 0;
    margin:0;
}

 h4 {
  font-family: var(--text-font);
  font-size: 1.2em;
}

p {
  font-family: var(--text-font);
}

iframe {
  width: 100%;
}

.form-group {
  display:flex;
  flex-direction: column;
  margin: 20px 0;
  font-family: var(--text-font);
}

.form-control{
  border-radius: 5px;
  border: solid 1px var(--headings-color); 
  background-color: var(--background-color);
  padding: 10px;
  font-family: var(--text-font);
} 

button, .comment-toggler {
  color:var(--headings-color); 
  background-color: white;
  border: solid 1px var(--headings-color); 
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 2em;
  width: 30%;
  transition: all 0.1s ease-out;
}

button:hover {
  transform: scale(1.001);
  box-shadow: 0 4px 8px rgba(0,0,0,0.25), 0 4px 4px rgba(0,0,0,0.22);
  color: var(--background-color);
  background-color: var(--headings-color);
  cursor: pointer;
}

.button-publish {
  color: var(--headings-color);
  background-color: var(--background-color);
}

#discussion {
   display: none;
}

.comment {
  padding: 5px;
}

.meta-text {
  font-size: 0.8em;
  font-style: italic;
  margin: 1em 0;
}