html {
  scroll-behavior: smooth;
}

body {
    background-color:rgba (249,249,249, 250);
    margin: 0;  
    margin-top: 0;
    background-image: url("/images/backround.svg");
    overflow-x: hidden;
  }

a {
  text-decoration: none;
  color:var(--headings-color); 
}

img {
  border-radius: 5px;
  width: 100%;
  filter: saturate(80%);
  transition: filter 0.3s ease-out; 
}

img:hover {
  filter: saturate(100%);
}

iframe {
  width: 100%;
}

h1, h2, h3, h4, h5,h6 {
    color: var(--headings-color); 
    font-family: var(--headings-font);
    padding: 0;
    margin:0;
}

h2 {
  font-size: 2.5em;
}

h4 {
  font-family: var(--text-font);
  font-size: 1.2em;
}

p {
  font-family: var(--text-font);
  margin: 0;
  margin-bottom: 1rem;
}

.form-group {
  display:flex;
  flex-direction: column;
  margin: 20px 0;
  font-family: var(--text-font);
}

.form-control{
  border-radius: 5px;
  border: solid 1px var(--headings-color); 
  background-color: var(--light-color);
  padding: 10px;
  font-family: var(--text-font);
} 

button, .comment-toggler {
  color:var(--headings-color); 
  background-color:var(--light-color);
  border: 1px solid var(--headings-color);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 2em;
  width: 30%;
  box-shadow: 0 0px 5px rgb(255, 252, 252), 0 0px 2px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}

button:hover {
  background-color:var(--headings-color); 
  color: white;
  cursor: pointer;
}

.button-publish {
  color: var(--headings-color);
  background-color: var(--light-color);
}

#discussion {
   display: none;
}

.comment {
  padding: 5px;
}

.meta-text {
  font-size: 0.9em;
  padding-left: 0.3em;
  margin-bottom: 0px;
}

label {
  color: var(--headings-color); 
}

@media (min-width: 600px) { 
 

}

/*screen sizes
   =
    600px
    768px
    900px
    1024px
    1200px
*/
