@import url(https://fonts.googleapis.com/css?family=Alice|Nunito&display=swap);:root {
  --background-color: rgba(230,230, 230);
  --link-color: rgba(0,120, 250);
  --dark-link-color: rgb(2, 99, 202);
  --headings-font: "Alice", serif;
  --text-font: "Nunito", sans-serif;
}

body {
  overflow-x: hidden;
  margin: 0;
}

a {
  color: var(--link-color);
}

/******************/

/* Dashboard menu*/

/******************/

.dashboard--button {
  position: fixed;
  top: 1em;
  right: 1em;
}

.dashboard--navbar {
  width: 50%;
  height: 100vh;
  margin: 0px;
  background-color: var(--background-color);
  padding: 1em 1em;
  position: absolute;
  left: -60%;
  top: 0;
  z-index: 1100;
}

.dashboard--navbar h3 {
  font-size: 0.9em;
  text-align: center;
}

.dashboard--navbar ul {
  list-style: none;
}

.dashboard--navbar li {
  margin: 2em 0;
}

.dashboard--navbar a {
  font-size: 0.9em;
  text-decoration: none;
  color: var(--link-color);
}

.dash-container {
  margin: 1em;
  display: -webkit-box;
  display: flex;
}

button {
  color: var(--background-color);
  border: 1px solid var(--link-color);
  background-color: var(--dark-link-color);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 2em;
  box-shadow: 0 1px 5px #fffcfc, 0 0px 5px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

button:hover {
  background-color: var(--link-color);
  color: white;
  cursor: pointer;
}

/******************/

/*  Login area   */

/*****************/

.login--container {
  display: -webkit-box;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.login--card {
  box-shadow: 0 0px 5px #fffcfc, 0 0px 2px rgba(0, 0, 0, 0.1);
  padding: 2em;
  margin: 1em;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 80%;
}

.login--card--header {
  font-family: var(--text-font);
  font-size: 1.2em;
}

.login--card--body {
  font-family: var(--text-font);
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  width: 100%;
}

.form-control {
  border: 1px solid var(--link-color);
  padding: 0.5em;
  border-radius: 5px;
  margin-bottom: 1em;
}

@media screen and (min-width: 600px) {
  /******************/

  /*  Login area   */

  /*****************/

  .login--card {
    max-width: 400px;
  }
}

