@import url(https://fonts.googleapis.com/css?family=Nunito);body {
  overflow-x: hidden;
}

.dashwrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}

.dashboard--navbar {
  width: 300px;
  height: 100vh;
  margin: 20px;
  background-color: black;
}

.post-img {
  height: 200px;
  width: 300px;
  overflow: hidden;
}

.img {
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.headings {
  font-size: 6rem;
}

.paragraphs > p {
  font-size: 1.4rem;
}

.content {
  max-width: 100vw;
}

#navig {
  height: 100vh;
  width: 150px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
          align-items: flex-start;
}

.featured-post {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

.featured-image {
  width: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.flexer {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  margin-top: 2em;
}

