@import url(https://fonts.googleapis.com/css?family=Alice|Nunito&display=swap);:root {
  --headings-color: rgba(182, 70, 95, 255);
  --text-color: rgba (0, 0, 0, 255);
  --background-color: rgba(242, 242, 242, 255);
  --dark-background-color: rgba(147, 6, 32, 255);
  --headings-font: "Alice", serif;
  --text-font: "Nunito", sans-serif;
}

body {
  background-color: rgba 249, 249, 249, 250;
  margin: 10px;
}

a {
  text-decoration: none;
  color: var(--headings-color);
}

